.navigation{
    display: flex;
    height: 72px;
    
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    
  }
  
.navigation ul {
    display: flex;
    gap: 24px;
  }
  
.navigation ul li {
    list-style: none;
    color: var(--gray-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
  
  }