.contact_section h1 {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 800;
}

.contact_section p {
    color: var(--gray-color);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 975px;;
}

