.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    align-items: end;
}

.top_button {
    display: flex;
    gap: 32px;
}


.contact_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-bottom: 25px;
}

.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_control input{
    height: 40px;
    padding: 0 8px;
}

.form_control label{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: -12px;
    left: 18px;
    background: white;
    padding: 0 10px;
}

.output{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: rgb(53, 0, 243);
    font-weight: 300;
}